body {
  background-image: url(../billeder/bestil_background.webp);
  background-position: 62.2% 0%;
  background-size: 260%;
}

/* navbar og burger menu */

.navbar {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  color: #ffff15;
}

.nav-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 25px;
  right: -100%;
  background-color: #154bff;

  align-items: center;
  transition: 0.3s;
  padding: 20% 0 0 0;
}

.burger {
  display: flex;
  background: none;
  border: none;
  z-index: 1;
  justify-content: end;
  width: 100%;
  margin: 4% 11%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.burger.active .bar:nth-child(2) {
  opacity: 0;
}

.burger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-menu.active {
  right: 0;
}
/* main */
.info {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 25%;
}

form {
}

label {
  display: block;
  color: #005fed;
  font-size: 1.6rem;
}
input {
  display: block;
  min-height: 10%;
}

.order {
  background-color: white;
  margin: 30% 6% 15%;
  padding: 10% 6%;
}

#ordern {
  height: 243px;
  width: 98%;
}

h1 {
  color: #ffff15;
  font-size: 3rem;
}

h3 {
  color: #005fed;
  font-size: 0.7rem;
  font-weight: normal;
}

@media (min-width: 600px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .order {
    margin: 13% 6% 15%;
    padding: 10% 6%;
  }
}
