body {
  background-image: url(../billeder/bestil_background.webp);
  background-position: 62.2% 0%;
  background-size: 260%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: var(--primary-clr);
  font-size: 3rem;
}

label span {
  color: var(--secondary-clr);
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0% 0 7px 0;
}

#kl {
  margin: 0 -105px 0 0;
  font-size: 1.2rem;
}

/* main */
.info {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-top: 25%;
}

.info h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2rem;
}

form {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

form h1 {
  display: block;
  color: var(--secondary-clr);
  font-size: 1.6rem;
  font-weight: normal;
  margin: 8% 0 2% 0;
}

label {
  display: block;
  color: var(--secondary-clr);
  font-size: 1.6rem;
  margin: 0 0 8% 0;
}

#time2 {
  width: 28px;
  margin: 0% 44% 2% 0%;
}

.tid {
  display: flex;
  justify-content: space-between;
  margin: 7% 5% 7%;
}

.skrivfelt {
  display: block;
  min-height: 40px;
  background-color: #ebebeb;
  border: none;
  padding: 0 31% 0 6%;
}

.timepick {
  font-size: 1rem;
}

form button {
  background-color: var(--secondary-clr);
  border: none;
  color: #ffff15;
  width: 25%;
  height: 21%;
  padding: 4% 0;
  margin: 4% 0;
  border-radius: 10px;
}

.order {
  background-color: white;
  margin: 30% 6% 15%;
  padding: 5% 10% 6%;
  overflow: hidden;
}

#ordern {
  height: 243px;
  width: 98%;
  padding: 3% 44% 53% 6%;
}

@media (min-width: 750px) {
  .skrivfelt {
    padding: 0 17% 0 6%;
  }
  .info h1 {
    font-size: 3rem;
  }
}

@media (min-width: 850px) {
  body {
    background-size: cover;
  }

  main {
    margin-bottom: 4%;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  form h1 {
    margin: 1% 0 1% 0;
  }

  .info {
    order: 2;
    margin-top: 0;
  }
  .order {
    margin: 0% 6% 15%;
    padding: 0% 6%;
    order: 1;
    max-width: 510px;
  }

  .skrivfelt {
    padding: 0 31% 0 6%;
  }

  #ordern {
    height: auto;
    width: 100%;
    padding: 0% 44% 33% 6%;
  }

  label {
    display: flex;
    margin: 4% 0 0 0%;
    justify-content: space-between;
  }

  #time2 {
    margin: 0% 57% 2% 0%;
  }

  .tid {
    margin: 3% 4% 5%;
  }

  #bigfelt {
    display: flex;
    flex-direction: column;
  }
}
