:root {
  --primary-clr: #ffff15;
}

@media screen and (min-width: 1000px) {
  .burger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #ffff15;
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
    background-color: #ffff15;
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-22px) rotate(-45deg);
    background-color: #ffff15;
  }

  .bar {
    background-color: black;
  }

  .section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .section h1 {
    grid-area: 1/1/5/7;
    text-align: center;
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 30px;
    margin: 120px;
    z-index: 1;
    opacity: 0.9;
    color: var(--primary-clr);
    text-transform: uppercase;
  }

  .section h2 {
    grid-area: 4/4/1/1;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 400px;
    padding-right: 20px;
    margin: 200px;
    z-index: 1;
    opacity: 0.9;
    color: var(--primary-clr);
    text-transform: uppercase;
  }
  .section .part2 {
    grid-area: 4/4/1/7;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 400px;
    padding-left: 50px;
    margin: 200px;
    z-index: 1;
    opacity: 0.9;
    color: var(--primary-clr);
    text-transform: uppercase;
  }

  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  }

  .footerp {
    text-align: center;
    padding-top: 30px;
    color: var(--primary-clr);
    z-index: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .video-container {
    display: none;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
    color: var(--primary-clr);
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #ffff15;
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    color: var(--primary-clr);
  }

  body {
    background-image: url(../billeder/italymobile.webp);
    background-size: cover;
  }

  .section h1 {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 120px;
    z-index: 1;
    opacity: 0.8;
    color: var(--primary-clr);
    text-transform: uppercase;
  }

  .section h2 {
    text-align: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    opacity: 0.8;
    color: var(--primary-clr);
    text-transform: uppercase;
  }

  .footerp {
    text-align: center;
    padding-top: 30px;
    color: var(--primary-clr);
    z-index: 1;
  }
}
