/*------MOBILE---------*/

@media screen and (max-width: 1000px) {
  img {
    max-width: 100%;
    align-self: stretch;
    object-fit: cover;
    aspect-ratio: 10 / 7.2;
    width: 100%;
    height: auto;
    inline-size: 100%;
  }

  h1 {
    color: #fffe15;
    font-weight: 550;
  }
  img {
    max-width: 100%;
    /*align-self: stretch;*/
    object-fit: cover;
    aspect-ratio: 10 / 7.2;
  }
  body {
    margin: 0 20px;
    /* margin-bottom: 30px;
    margin-right: 50px; */
  }

  /* navbar og burgermenu */
  .burger {
    margin: 4% 4%;
  }

  .bar {
    background-color: var(--secondary-clr);
  }

  li a h2 {
    color: var(--primary-clr);
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: var(--primary-clr);
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--primary-clr);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--primary-clr);
  }

  /* burgermenu slut */

  h1 {
    color: var(--primary-clr);
    font-weight: 550;
  }

  h2 {
    color: var(--secondary-clr);
    font-weight: 550;
  }

  p {
    color: var(--secondary-clr);
    margin-bottom: 40px;
  }

  .header h1 {
    font-size: 90px;
    margin-left: 10px;
    margin-top: -16px;
    color: var(--secondary-clr);
    margin-bottom: 91px;
  }

  h2 {
    color: #154bff;
    font-weight: 550;
    margin-top: 10px;
  }

  p {
    color: #154bff;
    margin-bottom: 40px;
  }

  .footerp {
    text-align: center;
    color: var(--secondary-clr);
  }

  .header h1 {
    font-size: 50px;
    margin-left: 10px;
    margin-top: 30px;
    color: #154bff;
    margin-bottom: 30px;
  }

  #pizza {
    font-size: 7.4rem;
    place-self: end;
  }

  article {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
  }
  article img,
  article h1 {
    grid-area: 1 / 1;
  }

  article h1 {
    place-self: end;
    z-index: 1;
    font-size: 3.9rem;
    margin-bottom: -15px;
    /* margin-right: 10px; */
    top: 10px;
    /* padding-left: 20px; */
  }

  article.even img,
  article.even h1 {
    grid-area: 1 / 1;
  }

  article.even h1 {
    z-index: 1;
    font-size: 6.5rem;
    margin-left: 8px;
    place-self: end;
  }

  .menupunkt {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 30px;
  }

  .menupunkt > p {
    justify-self: start;
    align-self: end;
    font-size: 15px;
    font-style: italic;
    margin-left: 40px;
  }

  .menupunkt > div {
    align-self: end;
    font-size: 10px;
  }

  .menupunkt_ps {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 30px;
  }

  .menupunkt_ps > p {
    justify-self: start;
    align-self: end;
    font-size: 15px;
    font-style: italic;
    margin-left: 40px;
  }

  .menupunkt_ps > div {
    align-self: end;
    font-size: 10px;
  }
}

/*----------DESKTOP------------*/

@media screen and (min-width: 1000px) {
  img {
    max-width: 100%;
    /*align-self: stretch;*/
    object-fit: cover;
    aspect-ratio: 10 / 7.2;
  }
  body {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
  }
  .bar {
    background-color: var(--secondary-clr);
  }

  h1 {
    color: #fffe15;
    font-weight: 550;
  }

  li a h2 {
    color: var(--primary-clr);
  }

  h2 {
    color: #154bff;
    font-weight: 550;
  }

  p {
    color: #154bff;
    margin-bottom: 40px;
  }

  .footerp {
    text-align: center;
    color: var(--secondary-clr);
  }

  .header h1 {
    font-size: 90px;
    margin-left: 10px;
    margin-top: 30px;
    color: #154bff;
    margin-bottom: 30px;
  }

  article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin-bottom: 80px;
  }

  article img,
  article h1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }

  article h1 {
    place-self: end;
    z-index: 1;
    font-size: 7rem;
    margin-bottom: -15px;
    margin-right: 10px;
  }

  article.even img,
  article.even h1 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
  }

  article.even h1 {
    z-index: 1;
    font-size: 7rem;
    margin-left: 8px;
    justify-self: start;
  }

  .menupunkt {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menupunkt > p {
    justify-self: start;
    align-self: end;
    font-size: 27px;
    font-style: italic;
    margin-left: 40px;
  }

  .menupunkt > div {
    align-self: end;
  }

  .menupunkt_ps {
    grid-column: 4 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menupunkt_ps > p {
    justify-self: start;
    align-self: end;
    font-size: 27px;
    font-style: italic;
    margin-left: 40px;
  }

  .menupunkt_ps > div {
    align-self: end;
  }
}

@media (min-width: 800px) {
  .burger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: var(--primary-clr);
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
    background-color: var(--primary-clr);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-22px) rotate(-45deg);
    background-color: var(--primary-clr);
  }
}
