video {
  max-width: 100%;
  margin: 3% 0 10% 0;
}

body {
  margin: 0 3%;
  background-image: url(../billeder/lamper.webp);
  background-size: cover;
  background-position: 100% 40%;
}

p {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  margin: 20px;
  color: var(--primary-clr);
  font-size: 1.5rem;
}

h1 {
  color: var(--primary-clr);
  text-align: center;
  margin: 8% 0 10% 0;
}

.mapouter {
  display: flex;
  justify-content: center;
  margin: 0 auto 7%;
}

.footerp {
  font-size: small;
  text-align: center;
}

@media (min-width: 800px) {
  /* .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
  } */
  main {
    max-width: 1000px;
    margin: 0 auto;
    background-position: 0% 40%;
  }

  video {
    margin: 0;
  }

  h1 {
    text-align: center;
    font-size: 50px;
    background-color: var(--secondary-clr);
    margin: 0;
  }
  p {
    text-align: center;
    margin: 20px;
    font-size: 30px;
  }
  iframe {
    max-width: 400px;
  }
  .mapouter {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* margin: 0 auto; */
    margin: 0;
  }

  .anmeld {
    margin: 4% 0% 0% 0%;
  }

  .anmeld_plus_tekst {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .anmeld_plus_tekst p {
    margin: 9% 0 0 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4% 0 0 0;
    gap: 3%;
  }
}
